# Ignora archivos y carpetas que coincidan con lo que se indica a continuación.

# Carpetas y archivos
/node_modules
/pruebas-copias


# Variables secretas .env 
.env

#importaciones
@openzeppelin

